
# cmake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# compiled files
*.a
*.o
*.elf
*.out
*.exe

# build directories
[Bb]uild*
[Oo]ut*
[Tt]arget*

# OS cache/config files/directories
.DS_Store
.Trash*
desktop.ini

# editor cache/config files/directories
.cache
.vs
.vscode
*.code-workspace
